@import url("./default.css");

article p {
  opacity: 1;
  height: auto;
  height: calc-size(auto);
}

.old {
  transition: height 8s 1s, padding 4s 1s, opacity 1s 0s;

  opacity: 0;
  padding: 0 1em;
  height: 0;
}