@import url("./default.css");

article p {
  opacity: 1;
  max-height: 100vh;
}

.old {
  transition: all 1s, max-height 8s, padding 16s, opacity 4s;

  opacity: 0;
  padding: 0 1em;
  max-height: 0;
}